Naive Bayes is a probabilistic classification algorithm based on Bayes' theorem. It's named "naive" because of the assumption of independence among the features, given the class. Despite the simplicity of this assumption, Naive Bayes classifiers often perform well in practice, particularly in tasks like text classification and spam filtering.

P(Y∣X)= 
P(X∣Y)⋅P(/P(X)
Use Gaussian Naive Bayes when dealing with continuous data and the assumption of a normal distribution is reasonable.

Use Multinomial Naive Bayes when dealing with discrete data, like word counts in text classificatio.

Use Bernoulli Naive Bayes when dealing with binary features or data represented as binary vects.Y)
​

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [12]:
inputs = df.drop(['PassengerId','Name','Parch','SibSp','Ticket','Cabin','Embarked'],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [13]:
target = inputs.Survived
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [14]:
dummies = pd.get_dummies(inputs.Sex)
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [15]:
inputs = pd.concat([inputs,dummies], axis='columns')
inputs

     Pclass     Sex   Age     Fare  Survived  female  male
0         3    male  22.0   7.2500         0       0     1
1         1  female  38.0  71.2833         1       1     0
2         3  female  26.0   7.9250         1       1     0
3         1  female  35.0  53.1000         1       1     0
4         3    male  35.0   8.0500         0       0     1
..      ...     ...   ...      ...       ...     ...   ...
886       2    male  27.0  13.0000         0       0     1
887       1  female  19.0  30.0000         1       1     0
888       3  female   NaN  23.4500         0       1     0
889       1    male  26.0  30.0000         1       0     1
890       3    male  32.0   7.7500         0       0     1

[891 rows x 7 columns]

In [18]:
inputs.drop('Survived',axis='columns',inplace =True)

In [19]:
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [20]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [24]:
import math
inputs.Age=inputs['Age'].fillna(math.floor(inputs['Age'].mean()))

In [25]:
inputs.head(10)

   Pclass     Sex        Age     Fare  female  male
0       3    male  22.000000   7.2500       0     1
1       1  female  38.000000  71.2833       1     0
2       3  female  26.000000   7.9250       1     0
3       1  female  35.000000  53.1000       1     0
4       3    male  35.000000   8.0500       0     1
5       3    male  29.699118   8.4583       0     1
6       1    male  54.000000  51.8625       0     1
7       3    male   2.000000  21.0750       0     1
8       3  female  27.000000  11.1333       1     0
9       2  female  14.000000  30.0708       1     0

In [23]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [40]:
from sklearn.model_selection import train_test_split

In [48]:
X_train,X_test,y_train,y_test = train_test_split(inputs.drop(['Sex','male'],axis='columns'),target,test_size=0.2)

In [49]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [50]:
model.fit(X_train,y_train)

GaussianNB()

In [51]:
model.score(X_test,y_test)

0.7206703910614525

In [52]:
model.predict(X_test[:10])

array([0, 1, 0, 1, 1, 0, 0, 0, 0, 1], dtype=int64)

In [53]:
y_test[:10]

C:\Users\91720\AppData\Local\Temp\ipykernel_332140\2588316582.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  y_test[:10]

220    1
887    1
833    0
417    1
809    1
884    0
395    0
639    0
547    1
293    0
Name: Survived, dtype: int64